@media (max-width: 768px) {
	h1 {
		font-size: 18pt;
		margin: 0;
		text-align: center;
	}
	header {
		position: relative;
		z-index: 11;
		overflow: scroll;
		width: 100%;
		.logoWrap {
			width: auto;
			display: block;
			margin: 0 auto;
		}
		.logo-sub {
			background: $blue;
			margin-bottom: 0;
		}
		&.sub {
			position: relative;
			height: auto;
			overflow: visible;
			background: none;
			text-align: center;
		}
		.dropdown {
			border: 1px solid $white;
			border-top: none;
			color: $white;
			width: 250px;
			margin: 0 auto;
			position: relative;
			top: -3px;
			button {
				text-transform: uppercase;
				background: none;
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				border: none;
				display: block;
				width: 100%;
				font-size: 12pt;
				letter-spacing: 3px;
				line-height: 30px;
			}
		}
		.dropdown-menu {
			@include border-top-radius(0);
			@include border-bottom-radius(0);
			margin: 0;
			padding: 0;
			width: 101%;
			background: $white;
			border: 1px solid $white;
			margin: 0 -1px;
			li {
				a {
					font-size: 14pt;
					color: $blue;
					text-transform: capitalize;
				}
			}
		}
		.menu {
			li {
				font-size: 14pt;
				ul {
					li {
						padding: 0 5px;
						a {
							font-size: 14pt;
						}
					}
				}
			}
		}
	}
	#singlePortfolio {
		margin: 0;
		padding: 0 15px;
		.pane {
			overflow: hidden;
		}
		.imageWrap {
			line-height: 0;
			-webkit-column-count: 2;
			-webkit-column-gap: 0px;
			-moz-column-count: 2;
			-moz-column-gap: 0px;
			column-count: 2;
			column-gap: 0px;
		}
		#bio {
			padding: 0;
			font-size: 12pt;
			img {
				min-width: 100%;
			}
			.col-sm-4 {
				padding: 0;
			}
			.col-sm-8 {
				padding: 15px;
			}
		}
		.single {
			padding: 0 15px;
			margin: 1px 0;
			.singlevideo {
				height: 160px;
			}
		}
	}
	.modal {
		.modal-dialog { 
			margin: 15px;
		}
	}
}