@media (max-width: 768px) {
	body,html {
		background: $white;
		height: auto;
	}
	h1 {
		font-size: 16pt;
		margin: 0;
		text-align: center;
		line-height: 40px;
		white-space: nowrap;
	}
	h3 {
		font-size: 10pt;
	}
	header {
		position: relative;
		z-index: 11;
		overflow: scroll;
		width: 100%;
		height: 230px;
		min-height: auto !important;
		#logo {
			width: 100%;
		}
		.logoWrap {
			width: auto;
			display: block;
			margin: 0 auto;
		}
		.logo-sub {
			margin-bottom: 0;
		}
		&.sub {
			position: relative;
			height: 230px;
			min-height: auto;
			width: auto;
			overflow: scroll;
			background: none;
			text-align: center;
		}
		.dropdown {
			border: 2px solid $lightblue;
			color: $lightblue;
			width: 283px;
			margin: 15px auto 0;
			position: relative;
			top: -3px;
			button {
				text-transform: uppercase;
				background: none;
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				border: none;
				display: block;
				width: 100%;
				font-size: 12pt;
				letter-spacing: 3px;
				line-height: 30px;
			}
		}
		.dropdown-menu {
			@include border-top-radius(0);
			@include border-bottom-radius(0);
			padding: 0;
			width: 100%;
			background: $lightblue;
			border: 1px solid $lightblue;
			margin: 0;
			li {
				a {
					font-size: 14pt;
					color: $white;
					text-transform: uppercase;
					padding: 0 10px;
					line-height: 35px;
				}
			}
		}
		.menu {
			li {
				font-size: 14pt;
				ul {
					li {
						padding: 0 5px;
						a {
							font-size: 14pt;
						}
					}
				}
			}
		}
	}
	#singlePortfolio {
		top: 0;
		opacity: 1;
		margin: 0 0 15px;
		padding: 0;
		.pane {
			overflow: hidden;
		}
		.imageWrap {
			line-height: 0;
			-webkit-column-count: 2;
			-webkit-column-gap: 1px;
			-moz-column-count: 2;
			-moz-column-gap: 1px;
			column-count: 2;
			column-gap: 1px;
			a {
				display: block;
				line-height: 0px;
				img {
					min-width: 100%;
					height: auto;
					line-height: 0px;
				}
			}
		}
		#bio {
			padding: 0;
			font-size: 12pt;
			img {
				min-width: 100%;
			}
			.col-sm-4 {
				padding: 0;
			}
			.col-sm-8 {
				padding: 15px 0;
			}
		}
		.single {
			padding: 0;
			margin: 1px 0;
			.singlevideo {
				height: 160px;
			}
		}
		.info {
			.plus {
				top: -1px;
				margin-right: 5px;
				width: 15px;
				height: 15px;
				&:after {
				}
				&:before {
					height: 15px;
				}
			}
		}
	}
	#singlePage {
		margin: 0;
		padding: 0 15px;
		text-align: center;
		h1 {
			margin: 0 0 15px;
			padding: 0;
			font-size: 21pt;
		}
		h2 {
			font-size: 16pt;
		}
		.agent {
			margin: 15px 0;
		}
		.agent-info {
			background: #ebebeb;
			text-align: left;
		}
	}
	.modal {
		.modal-dialog { 
			margin: 15px;
		}
	}
	footer {
		.contact-btn {
			width: 300px;
			display: block;
			margin: 0 auto;
		}
		.legal {
			text-align: center;
			margin: 15px 0;
		}
	}
}