$white: #ffffff;
$black: #000000;
$blue: #00041e;
$lightblue: lighten($blue, 15%);

$youtube: 	#bb0000;
$vimeo: 	#1ab7ea;
$facebook:	#3b5998;
$twitter: 	#00aced;
$instagram: #517fa4;
$linkedin:	#0077b5;

@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
iframe {
	margin-bottom: -5px;
}
*:focus {
	outline: none !important;
}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
	background-color: $white;
}
body {
	position: relative;
	font-family: 'Neutra';
	overflow: scroll;
	height: 100%;
	&.page {
		.dropdown {
			display: none;
		}
	}
	&.home {
		background: $blue;
	}
}
a {
	text-decoration: none;
	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
		text-decoration: none;
	}
}
h1 {
	position: relative;
    margin: 20px auto 0;
    color: $lightblue;
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Neutra';
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin: 0 0 25px;
	color: $lightblue;
	font-family: 'Neutra';
}
.home_bg {
	height: auto !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
	position: fixed;
	min-height: 100% !important;
	width: 100%;
	z-index: 0;
	background: url('assets/images/bg.jpg') no-repeat scroll center / cover;
}
.ibg-bg {
	position: absolute;
}
header {
	z-index: 9999;
	display: inline-block;
	padding: 15px;
	font-family: "Neutra", sans-serif;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	z-index: 2;
	box-sizing: border-box;
	background: $blue;
	background: -moz-linear-gradient(left, rgba(0,4,30,1) 0%, rgba(250,250,250,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,4,30,1)), color-stop(100%, rgba(250,250,250,0)));
	background: -webkit-linear-gradient(left, rgba(1,4,30,1) 0%, rgba(250,250,250,0) 100%);
	background: -o-linear-gradient(left, rgba(0,4,30,1) 0%, rgba(250,250,250,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,4,30,1) 0%, rgba(250,250,250,0) 100%);
	background: linear-gradient(to right, rgba(0,4,30,1) 0%, rgba(250,250,250,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=1 );
	&.sub {
		position: fixed;
		background: #ebebeb;
		width: 300px;
		@include transition(all, 1s, ease-in-out);
		&.shrink {
			width: 250px;
			@include transition(all, 1s, ease-in-out);
			#logo {
				width: 100%;
			}
		}
		.menu {
			li {
				color: $lightblue;
				&.cat_title {
					margin-top: 15px;
					font-size: 10pt;
					color: #999;
					font-weight: lighter;
					letter-spacing: 2px;
					line-height: normal;
				}
				ul {
					margin: 10px 0 5px;
					li {
						line-height: normal;
						&.active {
							a {
								color: $lightblue;
								&:hover {
									color: $lightblue;
								}
							}
						}
						a {
							line-height: normal;
							color: $lightblue;
							&:hover {
								color: $lightblue;
							}
						}
					}
				}
			}
		}
		.contact-btn {
			display: block;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: $lightblue;
			border: 2px solid $lightblue;
			line-height: 40px;
		}
		hr {
			border-top: 1px solid darken($white, 15%);
		}
		#artistSocial {
			display: block;
			text-align: center;
			margin: 15px 0;
			i {
				display: inline-block;
				width: 35px;
				height: 35px;
				@include border-top-radius(50%);
				@include border-bottom-radius(50%);
				margin: 0 5px;
				&.facebook {
					background: url('assets/images/admin/facebook.svg') no-repeat scroll center $lightblue;
					background-size: 50% 50%;
					@include transition(all, 0.3s, ease-in-out);
					&:hover {
						background-color: $facebook;
						@include transition(all, 0.3s, ease-in-out);
					}
				}
				&.twitter {
					background: url('assets/images/admin/twitter.svg') no-repeat scroll center $lightblue;
					background-size: 50% 50%;
					@include transition(all, 0.3s, ease-in-out);
					&:hover {
						background-color: $twitter;
						@include transition(all, 0.3s, ease-in-out);
					}
				}
				&.instagram {
					background: url('assets/images/admin/instagram.svg') no-repeat scroll center $lightblue;
					background-size: 50% 50%;
					@include transition(all, 0.3s, ease-in-out);
					&:hover {
						background-color: $instagram;
						@include transition(all, 0.3s, ease-in-out);
					}
				}
				&.linkedin {
					background: url('assets/images/admin/linkedin.svg') no-repeat scroll center $lightblue;
					background-size: 50% 50%;
					@include transition(all, 0.3s, ease-in-out);
					&:hover {
						background-color: $linkedin;
						@include transition(all, 0.3s, ease-in-out);
					}
				}
			}
		}
	}
	#logo {
		display: block;
		margin-bottom: 5px;
		width: 275px;
		height: auto;
		position: relative;
		top: -150px;
		opacity: 0;
		@include transition(all, 1s, ease-in-out);
		&.slideIn {
			top: 0;
			opacity: 1;
			@include transition(all, 1s, ease-in-out);
		}
		img {
			max-width: 100%;
		}
		.logo-sub {
			@include transform(scale(1));
			@include transition(all, 0.3s, ease-in-out);
		}
		&.down {
			@include transform(scale(0.8));
			@include transition(all, 0.3s, ease-in-out);
		}
	}
	.menu {
		text-transform: uppercase;
		li {
			position: relative;
			display: block;
			font-size: 18px;
			font-weight: bold;
			padding: 0 10px;
			line-height: 30px;
			left: -100%;
			opacity: 0;
			color: $white;
			@include transition(all, 0.75s, ease-in-out);
			a {
				position: relative;
				&:after {
					content: "//";
					display: inline-block;
					font-weight: 100;
					color: $white;
					padding-left: 5px;
					font-size: 12pt;
					position: relative;
				}
				&:hover {
					cursor: default;
				}
			}
			.slash {
				font-weight: normal;
			}
			&.slideIn {
				left: 0;
				opacity: 1;
				@include transition(all, 0.75s, ease-in-out);
			}
			ul {
				margin-left: 5px;
				li {
					left: -100%;
					opacity: 0;
					@include transition(all, 1s, ease-in-out);
					a {
						font-weight: 300;
						font-size: 16px;
						@include transition(all, 0.3s, ease-in-out);
						color: $white;
						&:hover {
							cursor: pointer;
							font-weight: bold;
							color: $white;
							@include transition(all, 0.75s, ease-in-out);
						}
						&:after { 
							display: none;
						}
					}
					&.slideIn {
						left: 0;
						opacity: 1;
						@include transition(all, 1s, ease-in-out);
					}
					&.active {
						margin-left: 5px;
						@include transition(all, 1s, ease-in-out);
						a {
							font-weight: bold;
							color: $white;
							@include transition(all, 0.3s, ease-in-out);
						}
					}
				}
			}
		}
	}
	.legal {
		text-align: center;
		display: block;
		margin-top: 15px;
		font-size: 12pt;
		color: #999;
		font-weight: lighter;
	}
}
.tab-content {
	position: relative;
	top: 50px;
	opacity: 0;
	@include transition(all, 0.5s, ease-in-out);
	&.in {
		top: 0;
		opacity: 1;
		@include transition(all, 0.5s, ease-in-out);
	}
}
.pane {
	display: none;
	&.active {
		display: block;
	}
}
#singlePortfolio {
	position: relative;
	z-index: 10;
	top: 50vh;
	opacity: 0;
	margin-left: 325px;
	padding-right: 25px;
	box-sizing: border-box;
	@include transition(all, 1s, ease-in-out);
	&.shrink {
		margin-left: 275px;
		@include transition(all, 1s, ease-in-out);
	}
	&.slideIn {
		opacity: 1;
		top: 0;
		@include transition(all, 1s, ease-in-out);
	}
	.info {
		.plus {
			position: relative;
			width: 25px;
			height: 25px;
			display: inline-block;
			top: -4px;
			margin: 0 15px 0 0;
			&:after {
				content:"";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 5px;
				background: $lightblue;
				margin: -2.5px 0 0 0;
			}
			&:before {
				content: "";
				position: absolute;
				left: 50%;
				height: 25px;
				width: 5px;
				background: $lightblue;
				margin: 0 0 0 -2.5px;
			}
			@include transform(rotate(45deg));
			@include transition(all, 0.3s, ease-in-out);
		}
		&.collapsed {
			.plus {
				@include transform(rotate(0deg));
				@include transition(all, 0.3s, ease-in-out);
			}
		}
	}
	.termName {
		text-transform: capitalize;
		width: 100%;
		display: block;
		margin: 15px 0;
		color: $blue;
		font-weight: lighter;
		letter-spacing: 2px;
	}
	.imageWrap {
		line-height: 0;
		-webkit-column-count: 3;
		-webkit-column-gap: 0;
		-moz-column-count: 3;
		-moz-column-gap: 0;
		column-count: 3;
		column-gap: 0;
		&.video-pane {
			-webkit-column-count: auto;
			-webkit-column-gap: 0px;
			-moz-column-count: auto;
			-moz-column-gap: 0px;
			column-count: auto;
			column-gap: 0px;
		}
		a {
			position: relative;
			display: block;
			z-index: 10;
			&:hover {
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
			img {
				width: 100% !important;
				height: auto !important;
			}
		}
	}
	.playwrap {
		background: $lightblue;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
		width: 100px;
		height: 100px;
		@include border-right-radius(50%);
		@include border-left-radius(50%);
		border: 5px solid #fff;
		@include transform(scale(0));
		@include transition(all, 0.25s, ease-out);
		i {
			text-align: center;
			font-size: 48px;
			display: block;
			color: #fff;
			z-index: 100;
			position: relative;
			padding: 22px;
			&.fa-play {
				left: 5px;
			}
		}
		.plus {
			&:before {
				content: "";
				display: block;
				width: 50%;
				height: 4px;
				background: $white;
				position: absolute;
				top: 50%;
				left: 25%;
				margin: -2px 0 0;
			}
			&:after {
				content: "";
				display: block;
				width: 4px;
				height: 50%;
				background: $white;
				position: absolute;
				left: 50%;
				top: 25%;
				margin: 0 0 0 -2px;
			}
		}
	}
	.single {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 1px;
		box-sizing: border-box;
		.singlevideo {
			display: block;
			height: 360px;
			@include transform(scale(1));
			@include transition(all, 0.25s, ease-out);
			background-size: 135% 135% !important;
			&:hover {
				@include transform(scale(1.1));
				@include transition(all, 0.25s, ease-out);
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
		}
		.singlephoto {
			margin: 1px;
			display: block;
			@include transform(scale(1));
			@include transition(all, 0.25s, ease-out);
			&:hover {
				@include transform(scale(1.1));
				@include transition(all, 0.25s, ease-out);
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
		}
	}
}
#singlePage {
	position: relative;
	z-index: 10;
	&.shrink {
		margin-left: 275px;
		@include transition(all, 1s, ease-in-out);
	}
	p {
		font-size: 14pt;
	}
	a {
		color: $blue;
		font-weight: bold;
	}
}
#bio {
	font-size: 14pt;
	background: $white;
	padding: 25px 25px 25px 0;
	box-sizing: border-box;
	.col-sm-4 {
		padding-left: 0;
	}
}
.modal {
	text-align: center;
	top: -100%;
	@include transform(scale(0.5));
	@include transition(all, 0.5s, ease-in-out);
	&#about, &#contact {
		.modal-body {
			text-align: left;
			padding: 25px 50px;
			p {
				font-size: 14pt;
			}
			a {
				color: $blue;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
	&.in {
		top: 0;
		@include transform(scale(1));
		@include transition(all, 0.5s, ease-in-out);
	}
	.modal-dialog {
		display: inline-block;
		width: auto;
		max-height: 80vh;
		max-width: 90vh;
	}
	.modal-body {
		padding: 0;
		img {
			max-height: 90vh;
		}
	}
	i {
		position: absolute;
		top: -15px;
		right: -15px;
		color: $white;
		background: $lightblue;
		font-size: 24pt;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		@include border-top-radius(50%);
		@include border-bottom-radius(50%);
		&:hover {
			cursor: pointer;
		}
	}
}
.modal-backdrop {
	background: $blue;
	&.in {
		opacity: 0.9;
	}
}