$white: #ffffff;
$black: #000000;
$blue: #020045;

@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Neutra';
  src: url('assets/fonts/NeutraText-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
iframe {
	margin-bottom: -5px;
}
*:focus {
	outline: none !important;
}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
	background-color: $blue;
}
a {
	text-decoration: none;
	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
		text-decoration: none;
	}
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
.home_bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: url('assets/images/bg.jpg') no-repeat scroll top center / cover $blue;
	@include transition(all, 0.5s, ease-in-out);
	&.fade {
		opacity: 0;
		@include transition(all, 0.5s, ease-in-out);
	}
}
header {
	position: fixed !important;
	left: 0;
	top: 0;
	z-index: 2;
	display: inline-block;
	padding: 10px;
	font-family: "Neutra", sans-serif;
	height: 100vh;
	box-sizing: border-box;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.75) 0%, rgba(19,19,19,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.75)), color-stop(100%, rgba(19,19,19,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.75) 0%, rgba(19,19,19,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.75) 0%, rgba(19,19,19,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.75) 0%, rgba(19,19,19,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(19,19,19,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=1 );
	.logo {
		margin-bottom: 10px;
		width: 200px;
		height: 79px;
		background: url('assets/images/logo.png') no-repeat scroll center / cover;
	}
	.menu {
		color: $white;
		text-transform: uppercase;
		li {
			display: block;
			font-size: 14px;
			font-weight: bold;
			padding: 5px 10px;
			ul {
				margin-left: 5px;
				li {
					a {
						font-weight: 300;
						font-size: 16px;
						@include transition(all, 0.3s, ease-in-out);
						&:hover {
							@include transition(all, 0.3s, ease-in-out);
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
}
#singlePortfolio {
	position: relative;
	z-index: 10;
	h1 {
		position: relative;
	    margin-top: 20px auto 0;
	    color: $white;
	    font-size: 48px;
	    line-height: 62px;
	    font-weight: 600;
	    text-transform: uppercase;
	}
	.tab-pane {
		line-height: 0;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
		a {
			position: relative;
			display: block;
			z-index: 10;
			&:hover {
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
			img {
				width: 100% !important;
				height: auto !important;
			}
		}
	}
	.playwrap {
		background: $blue;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
		width: 100px;
		height: 100px;
		@include border-right-radius(50%);
		@include border-left-radius(50%);
		border: 5px solid #fff;
		@include transform(scale(0));
		@include transition(all, 0.25s, ease-out);
		i {
			text-align: center;
			font-size: 48px;
			display: block;
			color: #fff;
			z-index: 100;
			position: relative;
			padding: 22px;
			&.fa-play {
				left: 5px;
			}
		}
	}
	.single {
		position: relative;
		height: 300px;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 1px;
		box-sizing: border-box;
		.singlevideo {
			display: block;
			height: 300px;
			@include transform(scale(1));
			@include transition(all, 0.25s, ease-out);
			&:hover {
				@include transform(scale(1.1));
				@include transition(all, 0.25s, ease-out);
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
		}
		.singlephoto {
			display: block;
			height: 300px;
			@include transform(scale(1));
			@include transition(all, 0.25s, ease-out);
			&:hover {
				@include transform(scale(1.1));
				@include transition(all, 0.25s, ease-out);
				.playwrap {
					@include transform(scale(0.5));
					@include transition(all, 0.25s, ease-out);
				}
			}
		}
	}
}
#bio {
	font-size: 14pt;
	background: $white;
	padding: 25px;
	box-sizing: border-box;
	.col-sm-4 {
		padding-left: 0;
	}
}
.modal {
	text-align: center;
	.modal-dialog {
		display: inline-block;
		width: auto;
		max-height: 80vh;
	}
	.modal-body {
		padding: 0;
		img {
			max-height: 90vh;
		}
	}
	i {
		position: absolute;
		top: -15px;
		right: -15px;
		color: $white;
		background: $blue;
		font-size: 24pt;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		@include border-top-radius(50%);
		@include border-bottom-radius(50%);
	}
}
.modal-backdrop {
	background: $blue;
	&.in {
		opacity: 0.9;
	}
}