#commercials .link, #MusicVideos .link {
  margin: 10px auto; }
  #commercials .link i, #MusicVideos .link i {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10; }
    #commercials .link i.youtube, #MusicVideos .link i.youtube {
      background: url("../images/admin/youtube.svg") no-repeat scroll center #bb0000;
      background-size: 70% 70%; }
    #commercials .link i.vimeo, #MusicVideos .link i.vimeo {
      background: url("../images/admin/vimeo.svg") no-repeat scroll center #1ab7ea;
      background-size: 70% 70%; }
  #commercials .link input, #MusicVideos .link input {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    font-size: 14pt;
    width: 100%;
    padding-left: 45px;
    padding-right: 105px;
    margin-left: -40px;
    vertical-align: top; }
  #commercials .link button, #MusicVideos .link button {
    line-height: 40px;
    height: 40px;
    width: 100px;
    display: inline-block;
    margin: 0 0 0 -100px; }
#commercials li, #MusicVideos li {
  margin: 0;
  padding: 0; }
#commercials .ui-state-highlight, #MusicVideos .ui-state-highlight {
  border: 1px dashed black;
  display: inline-block;
  width: 300px;
  height: 166px;
  margin: 0; }

.videoWrap {
  display: block;
  margin-top: 10px; }
  .videoWrap .video {
    height: 168px;
    width: 300px;
    display: inline-block;
    position: relative;
    overflow: hidden; }
    .videoWrap .video .button-remove {
      position: absolute;
      top: 5px;
      right: 5px;
      color: red;
      font-weight: bold;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background: white;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }

.assignedAgent {
  width: 100%; }

#agent input {
  line-height: 30px;
  height: 30px;
  display: block;
  width: 100%;
  margin-top: 5px; }
  #agent input:first-child {
    margin-top: 0; }
#agent .button {
  display: block;
  text-align: center;
  margin-top: 15px;
  width: 100%; }

#social .field {
  margin-top: 5px; }
  #social .field input {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    width: 100%;
    margin-left: -31px;
    padding-left: 35px;
    vertical-align: top; }
    #social .field input:first-child {
      margin-top: 0; }
  #social .field i {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10; }
    #social .field i.facebook {
      background: url("../images/admin/facebook.svg") no-repeat scroll center #3b5998;
      background-size: 50% 50%; }
    #social .field i.instagram {
      background: url("../images/admin/instagram.svg") no-repeat scroll center #517fa4;
      background-size: 50% 50%; }
    #social .field i.twitter {
      background: url("../images/admin/twitter.svg") no-repeat scroll center #00aced;
      background-size: 50% 50%; }
    #social .field i.linkedin {
      background: url("../images/admin/linkedin.svg") no-repeat scroll center #0077b5;
      background-size: 50% 50%; }

#image_type_ordering .inside {
  margin: 0;
  padding: 0; }
#image_type_ordering tr:hover {
  cursor: move; }
#image_type_ordering td {
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px; }
#image_type_ordering .bars {
  position: relative;
  width: 20px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  top: -2px;
  margin-right: 5px; }
  #image_type_ordering .bars:before, #image_type_ordering .bars:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute; }
  #image_type_ordering .bars:before {
    top: 25%; }
  #image_type_ordering .bars:after {
    top: 75%; }
  #image_type_ordering .bars i {
    width: 100%;
    display: block;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%; }
